.wrapper {
  max-width: 720px;
  margin: 40px auto;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
  margin-bottom: 15px;
}

.name {
  font-size: 20px;
}
