.card {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border: 1px solid #a2a3a4;
  padding: 15px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 10px;
}

.headerActions {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.headerActions button {
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
}

.title {
  all: unset;
  word-break: break-word;
  font-size: 20px;
  cursor: pointer;
}

.statsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.statsWrapper button {
  all: unset;
  transform: rotate(90deg);
  cursor: pointer;
}

.open button {
  transform: rotate(270deg);
}

.stats {
  display: flex;
  align-items: center;
  column-gap: 35px;
  cursor: default;
  font-size: 16px;
}

.stat {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid rgb(162, 163, 164);
  margin-top: auto;
}

.comment input {
  font-size: 18px;
}
